<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Rifa</title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
  <header>
    <nav>
      <a href="/sobre-suri">Sobre suri</a>
      <a href="#sorteo">Sorteo</a>
      <a href="#contacto">Contacto</a>
    </nav>
  </header>

  <div class="inicio">
    <!-- <h1>Rifa a <span class="span-1">beneficio</span>
      <br>
      <span class="span-2">de </span> Suri
    </h1> -->
    <svg id="uuid-ee72d653-9614-4916-9749-d65a15614b37" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 651.36">
      <style>
        @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@800&display=swap');

        .texto-svg {
          font-family: 'Outfit', sans-serif;
        }

        .rect-top {
          animation: slideInLeft 2s ease-out forwards;
        }

        .rect-bottom {
          animation: slideInRight 2s ease-out forwards;
        }

        @keyframes slideInLeft {
          from {
            transform: translateX(-100%);
          }

          to {
            transform: translateX(0);
          }
        }

        @keyframes slideInRight {
          from {
            transform: translateX(100%);
          }

          to {
            transform: translateX(0);
          }
        }
      </style>
      <g id="uuid-76498566-83da-4bee-8b54-c48f1b850f4a">
        <rect class="rect-top" x="784" width="1136" height="310" style="fill:#4B4068;" />
        <rect class="rect-bottom" y="309.09" width="1257" height="321" style="fill:#4B4068;" />
        <text transform="translate(110.95 240.78)" class="texto-svg"
          style="font-family:Outfit-ExtraBold, Outfit; font-size:235px;">
          <tspan x="0" y="0" style="fill:#fff;">Ri</tspan>
          <tspan x="220.43" y="0" style="fill:#fff; letter-spacing:-.02em;">f</tspan>
          <tspan x="322.18" y="0" style="fill:#fff;">a a</tspan>
          <tspan x="649.06" y="0" style="letter-spacing:0em;"></tspan>
          <tspan x="692.54" y="0" style="fill:#ffa17f;">ben</tspan>
          <tspan x="1101.43" y="0" style="fill:#ffa17f; letter-spacing:0em;">e</tspan>
          <tspan x="1229.51" y="0" style="fill:#ffa17f; letter-spacing:0em;">ficio</tspan>
        </text>
        <text transform="translate(959.95 554.31)" style="font-family:Outfit-ExtraBold, Outfit; font-size:235px;">
          <tspan x="0" y="0" style="fill:#ffa17f;">de </tspan>
          <tspan x="315.37" y="0" style="fill:#fff;">Su</tspan>
          <tspan x="584.67" y="0" style="fill:#fff; letter-spacing:-.02em;">r</tspan>
          <tspan x="686.9" y="0" style="fill:#fff; letter-spacing:0em;">i</tspan>
        </text>
      </g>
    </svg>
    <div class="info-inicio">
      <div class="texto">
        <h2>Tu apoyo es de mucha ayuda</h2>
        <p>Estamos realizado un sorteo para ayudar a colectar dinero para los estudios previos y una intervenci칩n
          cardiologica para suri.
          <br>
          Cualquier persona puede participar.
          <br>
          Podes ayudarnos comprando numeros, hacer donaciones o compartiendo para que otros puedan participar.
        </p>

        <div class="botones">
          <a href="#sorteo" class="btn-pedir">Sorteo <svg xmlns="http://www.w3.org/2000/svg" height="20px"
              viewBox="0 -960 960 960" width="20px" fill="#ccc">
              <path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z" />
            </svg></a>
          <a href="#sorteo" class="btn-pedir">Donaciones <svg xmlns="http://www.w3.org/2000/svg" height="20px"
              viewBox="0 -960 960 960" width="20px" fill="#ccc">
              <path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z" />
            </svg></a>
          <a href="#sorteo" class="btn-pedir">Compartir <svg xmlns="http://www.w3.org/2000/svg" height="20px"
              viewBox="0 -960 960 960" width="20px" fill="#ccc">
              <path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z" />
            </svg></a>
        </div>
      </div>
      <img src="/img/suri.webp" alt="suri">
    </div>
  </div>

  <div id="sorteo" class="sorteo">
    <h2>El Sorteo</h2>
    <p class="info">El sorteo se realizara con los n칰meros de la loter칤a de Cordoba en la edici칩n Nocturna
      del dia lunes 12 de agosto</p>

    <p class="info"> Para participar solo debes hacer click 游녡 en el n칰mero/s disponibles <span
        class="color-verde"></span> que quieras elegir y luego haz click en pedir n칰meros as칤 nos avisa por WhatsApp.
    </p>
    <p class="info">Conoce los <a class="link" href="#premios">Premios <svg xmlns="http://www.w3.org/2000/svg"
          height="30px" viewBox="0 -960 960 960" width="30px" fill="#e8eaed">
          <path
            d="M160-80v-440H80v-240h208q-5-9-6.5-19t-1.5-21q0-50 35-85t85-35q23 0 43 8.5t37 23.5q17-16 37-24t43-8q50 0 85 35t35 85q0 11-2 20.5t-6 19.5h208v240h-80v440H160Zm400-760q-17 0-28.5 11.5T520-800q0 17 11.5 28.5T560-760q17 0 28.5-11.5T600-800q0-17-11.5-28.5T560-840Zm-200 40q0 17 11.5 28.5T400-760q17 0 28.5-11.5T440-800q0-17-11.5-28.5T400-840q-17 0-28.5 11.5T360-800ZM160-680v80h280v-80H160Zm280 520v-360H240v360h200Zm80 0h200v-360H520v360Zm280-440v-80H520v80h280Z" />
        </svg></a></p>
    <div class="numeros">
      <% numeros.forEach(numero=> { %>
        <button data-numero="<%= numero.numero %>" data-estado="<%= numero.estado %>" data-esadmin="<%= isAdmin %>"
          data-nombre="<% if (isAdmin) { %><%= tachadoMap[numero.numero] ? tachadoMap[numero.numero][0].nombre : '' %><% } %>"
          data-telefono="<% if (isAdmin) { %><%= tachadoMap[numero.numero] ? tachadoMap[numero.numero][0].telefono : '' %><% } %>"
          title="<% if (isAdmin) { %><%= tachadoMap[numero.numero] ? tachadoMap[numero.numero].map(t => `Nombre: ${t.nombre}, Tel칠fono: ${t.telefono}`).join(' | ') : '' %><% } %>"
          class="<%= numero.estado === 'tachado' ? 'tachado' : 'disponible' %>" <% if (!isAdmin &&
          numero.estado==='tachado' ) { %>
          disabled
          <% } %>
            >
            <%= numero.numero %>
        </button>
        <% }); %>
    </div>
  </div>

  <div id="premios" class="premios">
    <h2>Premios Sorteo 12 de agosto 2024</h2>
    <div class="premios-list">
      <div class="premios-card">
        <p>Premio del <a href="https://www.instagram.com/elrincon.de.irma/" target="_blank">Rincon de Irma</a></p>
      </div>
      <div class="premios-card">
        <p>Kit de nutrici칩n (shampoo + crema nutrici칩n) <br> <a href="#">Peluqueria Natalia Manzzini</a></p>
      </div>
      <div class="premios-card">
        <p>U침as, masajes, limpieza facial o permanente de pesta침as <br><a
            href="https://www.instagram.com/bellesfemme.estetica/" target="_blank">Bellesfemme.Estetica </a>
        </p>
      </div>
      <div class="premios-card">
        <p>Regalo sorpresa de <a href="https://www.instagram.com/l_l.home/" target="_blank">L&L Home</a></p>
      </div>
      <div class="premios-card">
        <p>Regalo de <a href="https://www.instagram.com/lindacatalina_/" target="_blank">Linda Catalina Ind.
            Femenina </a>
          (Voucher de $10000)</p>
      </div>
    </div>
  </div>

  <div id="ganadores" class="ganadores">
    <h2>Ganadores</h2>
    <p>Aqui aparecenran los ganadores del sorteo</p>
  </div>

  <div id="contacto" class="contacto">
    <h2>Formas de contacto</h2>
    <table>
      <tr>
        <td colspan="2">Telefonos</td>
      </tr>
      <tr>
        <td>
          Agustin
        </td>
        <td>
          351 3075338
        </td>
      </tr>
      <tr>
        <td>
          Jorgelina
        </td>
        <td>
          351 2270298
        </td>
      <tr>
    </table>


  </div>

  <div id="details-popup" class="details-popup"></div>

  <% if (!isAdmin) { %>
    <a id="sendButton" class="send-button" href="#">Pedir n칰meros</a>
    <% } else { %>
      <a id="formButton" class="send-button" href="#">Tachar</a>
      <% } %>

        <footer>
          <p>Realizado por Agustin Yedro para <i>Suri</i> con 游비 </p>
        </footer>
        <script src="/js/script.js"></script>
</body>

</html>